---
- name: Set system hostname
  become: true
  ansible.builtin.hostname:
    name: "{{ hostname | default(inventory_hostname) }}"

- name: Ensure Ansible is installed
  become: true
  package:
    name: ansible
    state: present

- name: Install baseline system packages
  become: true
  ansible.builtin.dnf:
    name:
      - vim-minimal
      - nano
      - less
      - tar
      - unzip
      - rsync
      - curl
      - wget
      - bind-utils
      - iproute
      - tcpdump
      - htop
      - sysstat
      - lsof
      - strace
      - lvm2
      - xfsprogs
      - e2fsprogs
      - ca-certificates
      - openssl
      - gnupg2
      - python3
      - python3-libselinux
      - python3-dnf
      - policycoreutils
      - policycoreutils-python-utils
      - chrony
    state: present
