---
# Default list of artifacts to fetch if none is provided via inventory.
# Normally overridden in group_vars for builder hosts.
artifacts_to_fetch: []

# Podman container image artifacts to download and save as tarballs.
#
# IMPORTANT: All image names MUST be fully-qualified (include registry prefix).
# Short names like 'nginx:latest' or 'user/repo:tag' will fail because Podman
# requires interactive TTY for short-name resolution, which Ansible cannot provide.
#
# Examples of correct fully-qualified names:
#   - docker.io/library/nginx:latest              # Docker Hub official images
#   - docker.io/mbentley/omada-controller:5.12    # Docker Hub user images
#   - ghcr.io/username/repository:tag             # GitHub Container Registry
#   - quay.io/namespace/image:version             # Quay.io
#   - registry.example.com/image:tag              # Private registry
#
# Each entry requires:
#   - name: Descriptive name for the artifact
#   - upstream_image: FULLY-QUALIFIED image name (registry.io/namespace/image:tag)
#   - dest_subdir: Subdirectory under nginx_artifacts_root
#   - tar_filename: Name for the saved tarball
#   - latest_symlink: (optional) Symlink name for 'latest' version
#
# Example:
# artifacts_podman_images:
#   - name: "omada-controller"
#     upstream_image: "docker.io/mbentley/omada-controller:5.12"
#     dest_subdir: "container-images/omada-controller"
#     tar_filename: "omada-controller-5.12.tar"
#     latest_symlink: "omada-controller-latest.tar"
#
artifacts_podman_images: []

# Root directory for all HTTP-served files
nginx_artifacts_root: /srv/dvntm-http

# Directory tree we want
nginx_artifacts_dirs:
  - iso
  - iso/fedora
  - pi-images
  - keys
  - keys/ssh
  - keys/gpg
  - misc


# Vhost settings
# ------------------------------------------------------------------------------
# VHOST NOTE:
#
# By default, nginx_artifacts_server_name is set to "_" so that the artifacts
# site works immediately via http://<IP>/ using the default_server flag.
#
# When DNS is introduced (e.g., artifacts.dvntm.deevnet.net), override:
#
#   nginx_artifacts_server_name: "artifacts.dvntm.deevnet.net"
#
# in group_vars or host_vars for the artifact host.
#
# Do NOT change the default here; keep the role generic.
# ------------------------------------------------------------------------------
nginx_artifacts_server_name: "_"
nginx_artifacts_listen_port: 80
nginx_artifacts_default_server: true

# Fedora / RHEL nginx layout
nginx_conf_dir: /etc/nginx
nginx_artifacts_conf_path: "{{ nginx_conf_dir }}/conf.d/artifacts.conf"
nginx_artifacts_site_name: artifacts
